.wrapper {
    width: 500px;
    text-align: center;
    padding: 20px;
}

h3{
    margin-bottom: 10px;
}

.isCorrect{
    background-color: #a7ed9178;
    font-size: 17px;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 10px;
    border: 1px solid green;
    border-radius: 6px;
    font-style: italic;
}

.isWrong {
    background-color: #f5797987;
    text-align: left;
    font-size: 17px;
    padding-left: 30px;
    margin-bottom: 10px;
    border: 1px solid crimson;
    border-radius: 6px;
    font-style: italic;
}

.bold {
    font-size: 17px;
    font-style: normal;
}
